// sidebar
$menuText:#bfcbd9;
// $menuActiveText:#409EFF;
$menuActiveText:#00fdbe;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951
//sidebar color
// $menuBg:#304156;
// $menuHover:#263445;
$menuBg:#013b2d;
$menuHover:#0a2c24;

$subMenuBg:#0a2c24;
$subMenuHover:#026b53;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
